<div class="breadcrumbs"> 

	<% if @current_collection %>        
		
		<!-- checking if the collection has a parent -->

		<% if current_page?(:controller => "collections", :action => "new") || current_page?(:controller => "links", :action => "new") %>

			<%= link_to :back do %> 
				<i class="fa fa-arrow-left"></i>
			<% end %> 
			
		<% elsif @current_collection.ancestors == [] %> 
			
			<!-- If no parent, link to root -->
			<%= link_to root_path do %> 
				<i class="fa fa-arrow-left"></i>
			<% end %> 

		<!-- check if current_user has access to parent -->
		<% elsif current_user.has_share_access?(@current_collection.parent)%>
			
			<!-- if user does have access, link to parent -->
			<%= link_to browse_path(@current_collection.parent) do %>
				<i class="fa fa-arrow-left"></i>
			<% end %> 

		<!-- if user doesn't haven't access to parent link to root -->
		<% else %>
			
			<%= link_to root_path do %>
				<i class="fa fa-arrow-left"></i>
			<% end %>  

		<% end %>

	<% elsif current_page?('/') || current_page?('/collections') %>

	<% else #if we are not under any collection%>  

			<%= link_to root_path do %>
				<i class="fa fa-arrow-left"></i>
			<% end %> 


	<% end %>

</div>