<div class="collection-wrapper left" data-id="<%= collection.id %>">

	<div class="collection-title">

		<div class="collection-grabber">

			<i class="fa fa-bars"></i>

		</div>

		<%= link_to browse_path(collection) do %>

			<h5><%= collection.title %></h5>

		<% end %>

	</div>

	<div class="collection-links-wrapper">

		<ul>
			<% collection.links.reverse.first(3).each do |link| %>

				<li>

					<a href="<%= link.url %>" onclick="window.open(this.href); return false;" target="_blank">
						<%= link.description %>
					</a>

				</li>

			<% end %>

		</ul>

	</div>

	<div class="collection-users-wrapper">


	</div>


</div>

