<%= provide(:title, "New Collection" ) %>

<div class="outer-form">
<%= form_for(@collection) do |f| %>
  <% if @collection.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@collection.errors.count, "error") %> prohibited this collection from being saved:</h2>

      <ul>
      <% @collection.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field-row">
    <%= f.text_field :title, placeholder: "Enter title of the collection" , autofocus: true  %>
  </div>
  <%= f.hidden_field :parent_id %> 
  <div class="form-actions">
    <%= f.button "Add collection", type: 'submit', class: "form-submit-button", data: { disable_with: 'Submitting' } %>
  </div>
<% end %>
</div>