<p id="notice" class=""><%= notice %></p>

<!-- Listing Shared collections (the collections shared by others) -->
<% @being_shared_collections.each do |collection| %> 
	<%= link_to browse_path(collection) do%>
		<%= collection.title %>
	<% end %>
<% end %>

<!-- Own Collections -->
<%= render @collections %>


<!-- Links with of current colleciton -->

<div class="links-main-container">
	<% @links.each do |link| %>
		<%= render '/links/link' , link: link %>
	<% end %>
</div>


<!-- Invitation form -->

<div id="invitation_form" title="Invite others to share" style="display:none"> 
    <%= form_tag('/collection/share' ) do %> 
            <label for="email_addresses">Enter recipient email addresses here</label><br /> 
            <%= text_field_tag('dialog_email_addresses', "", placeholder: "john.snow@gmail.com, stannis@hotmail.co.uk") %> 
            <br /><br /> 
            <label for="message">Optional message</label><br /> 
            <%= text_area_tag( 'dialog_message',)%> 
            <%= hidden_field_tag "collection_id" %> 
    <% end %>                 
</div>

