<% if @current_collection %>
	<%= provide(:title, "#{@current_collection.title}" )%>
<% else %>
	<%= provide(:title, "Dock" ) %>
<% end %>




<!-- Links -->

<% @links.each do |link| %>

	<%= render '/links/link' , link: link %>

<% end %>


<!-- Own Collections -->

<%= render @collections %>


<!-- Listing Shared collections (the collections shared by others) -->

<%= render @being_shared_collections %>



<!-- Invitation form -->

<div id="invitation_form" title="Invite others to share" style="display:none"> 

	<%= form_tag('/collection/share' ) do %> 

		<label for="email_addresses">Enter recipient email addresses here</label><br /><br /> 

		<%= text_field_tag('email_addresses', "", placeholder: "john.snow@gmail.com, stannis@hotmail.co.uk") %><br /><br />  

		<%= text_area_tag( 'message',"",placeholder: "Optional message" )%> 
 
		<%= hidden_field_tag "collection_id" %> 

	<% end %>                 

</div>

