<%= provide(:title, @collection.title.titleize ) %>

<!-- Showing All the Links from this Collection -->
<% @links.each do |link| %>

	<div class="link-wrapper left">


		<div class="link-grabber">

			<i class="fa fa-bars"></i>
			
		</div>

		<%= render '/links/favourite', link: link %>

		<a href="<%= link.url %>" onclick="window.open(this.href); return false;" target="_blank">
		
			<div class="link-description">

				<h5><%= link.description %></h5>

			</div>

			<div class="link-url">

				<p><%= shortened_url(link.url) %></p>

			</div>


			<%= link_to link, method: :delete, data: { confirm: 'Are you sure?' } do %>

				<div class="delete-link-button">

					<i class="fa fa-times"></i>
				
				</div>

			<% end %>
		</a>
			

	</div>

<% end %>


