<!-- Check to see if the title is purposely upcased, if not, capitalize it for better UI -->
<% if @collection.title == @collection.title.upcase %>
	<%= provide(:title, @collection.title.upcase ) %>
<% else %>
	<%= provide(:title, @collection.title.capitalize ) %>
<% end %>

<!-- Showing All the Links from this Collection -->
<% @links.each do |link| %>

<div class="link-wrapper left">
	
	<!-- Link mover part -->
	
	<div class="link-grabber">

		<i class="fa fa-bars"></i>
	</div>
	
	<!-- Favourite link -->
	<div class="link-tester">
	<%= render '/links/favourite', link: link %>
	</div>

	<!-- Edit the link -->

	<div class="edit-link-button">

		<i class="fa fa-check edit-icons check-button"></i>

		<i class="fa fa-pencil-square-o edit-icons edit-button"></i>

	</div>

	<!-- SHOW Part of the link info -->

	<a href="<%= link.url %>" onclick="window.open(this.href); return false;" target="_blank" class="link-show-info editable" >

		<div class="link-description">

			<h5><%= link.description %></h5>

		</div>

	</a>

	<!-- EDIT Part of the link info -->

	<div class="link-edit-info hidden editable">

		<div class="link-description link-info">

			<h5><%= best_in_place link, :description, :as => :input %></h5>

		</div>

	</div>

	<!-- DELETE the link -->

	<%= link_to link, method: :delete, data: { confirm: 'Are you sure?' } do %>

		<div class="delete-link-button">

			<i class="fa fa-times"></i>

		</div>

	<% end %>

	<!-- SHOW the URL -->

	<div class="show-url-button">

		<i class="fa fa-info-circle"></i>
		
	</div>

	<!-- The Links Collections -->

	<div class="link-collection">

		<% link.collections.each do |collection| %>

			<%= link_to collection_path(collection) do %>

				<p><%= collection.title %></p>

			<% end %>

		<% end %>

	</div>


	<!-- SHOW the url -->

	<div class="link-url link-info">

		<p><%= link.url%></p>

	</div>

</div>


<% end %>


