<div class="link-wrapper" data-id="<%= link.id %>">
	
	<!-- Link mover part -->
	
	<div class="link-grabber">

		<i class="fa fa-bars"></i>
	</div>
	
	<!-- Favourite link -->
	
	<%= render '/links/favourite', link: link %>


	<!-- Edit the link -->

	<div class="edit-link-button">

		<%= link_to update_description_link_path(link), remote: true do %>

			<i class="fa fa-check edit-icons check-button"></i>

		<% end %>

		<i class="fa fa-pencil-square-o edit-icons edit-button"></i>

	</div>


	<!-- SHOW Part of the link info -->


	<%= render "/links/update_description", link: link %>


	<!-- EDIT Part of the link info -->

	<div class="link-edit-info editable hidden">

		<div class="link-description link-info">

			<h5><%= best_in_place link, :description, :as => :input , :class => "best_in_place_link" %></h5>

		</div>

	</div>

	<!-- DELETE the link button -->

	<%= link_to link, method: :delete, data: { confirm: 'Are you sure?' } do %>

		<div class="delete-link-button">

			<i class="fa fa-times"></i>

		</div>

	<% end %>

	<!-- SHOW URL Button -->

	<div class="show-url-button">

		<i class="fa fa-info-circle"></i>
		
	</div>


	<!-- Link url -->

	<div class="link-url link-info">

		<p><%= link.url%></p>

	</div>

</div>