<div class="sidebar left">
	
	<h2 class="logo">lynkr</h2>

	<%#= link_to 'lynkr', root_path, class: "logo" %>

	<div class="main-nav">

		<ul>
			<%= nav_link_to favourites_path  do %>
	                      	<li class="sidebar-links title-link"><p>favourites</p><i class="fa fa-star favourite-button"></i></li>
	                 	<% end %>

	                 	<%= nav_link_to new_collection_path  do %>
	                      	<li class="sidebar-links"><p>new collection</p><i class="fa fa-plus-square-o new-link-button"></i></li>
	                 	<% end %>

			<%#= nav_link_to links_path  do %>
	                      	<!-- <li class="sidebar-links title-link"><p>all links</p></li> -->
	                 	<%# end %>

	                 	<%= nav_link_to new_link_path  do %>
	                      	<li class="sidebar-links"><p>add link</p><i class="fa fa-plus-square-o new-link-button"></i></li>
	                 	<% end %>

	                 	<%= nav_link_to collections_path  do %>
	                      	<li class="sidebar-links title-link"><p>all collections</p></li>
	                 	<% end %>


		</ul>

		<ul class="sidebar-collection-links-wrapper">

			<% if current_user.collections.any? %>

				<% @sidebar_collections.each do |collection| %>

					<%= nav_link_to collection  do %>
		                      		<li class="sidebar-collection-links"><p><%= collection.title %></p></li>
		                 		<% end %>

		                 	<% end %>

		           <% end %>
				
		</ul>

	</div>


	<div class="footer group">

		<p class="left" >About</p>

		<p class="right" >&copy; Lynkr 2015</p>	

	</div>

</div>