<header class="top-bar right">

	<div class="top-section">

		<div class="search-wrapper">

				<i class="fa fa-search search-icon"></i>

				<form action="<%= root_path %>" method="get" class="search-form" >

					<%= text_field_tag :q, params[:s], placeholder: "Search", class: "search-input"%>
					<%= submit_tag "Search", :style => "display: none;", :name  => nil %>

				</form>

		</div>

			
		<div class="login-section right">


		           <div class="current-user" >

		           	<div class="user-initials">
		           		<!-- Need to make Users Controller -->
		           	</div>

		           	<%= gravatar_image_tag(current_user.email.gsub('spam', 'mdeering'), :alt => current_user.first_name) %>
		           </div>

		           <div class="user-popup">

		                      <ul>

		                     		<li><%= link_to 'logout', destroy_user_session_path, method: :delete %></li>

		                      </ul>

		            </div>	

		</div>
	
	</div>

	
	<div class="bottom-section">
	
		<div class="section-header">
			
			<!-- Might go a bit wrong if i ever need to use another show page, needs a fix  -->

			<% if controller.action_name == 'show' %>
				<h3><%= best_in_place @collection, :title, :as => :input %></h3>
			<% else %>
				<h3><%= @bottom_bar_header %></h3>
			<% end %>



		</div>
	
	</div>

</header>

