<header class="top-bar right">

	<div class="top-section">


		<%= render '/collections/breadcrumbs' , collection: @current_collection %>


<!-- 		<div class="search-wrapper">

				<i class="fa fa-search search-icon"></i>

				<form action="<%= root_path %>" method="get" class="search-form" >

					<%= text_field_tag :q, params[:s], placeholder: "Search", class: "search-input"%>
					<%= submit_tag "Search", :style => "display: none;", :name  => nil %>

				</form>

		</div>
 -->	
		<div class="login-section right">


		           <div class="current-user" >

		           	<div class="user-initials">
		           		<!-- Need to make Users Controller -->
		           	</div>

		           	<%= gravatar_image_tag(current_user.email.gsub('spam', 'mdeering'), :alt => current_user.first_name) %>
		           </div>

		           <div class="user-popup">

		                     	<%= link_to 'logout', destroy_user_session_path, method: :delete %>

		           </div>	

		</div>
	
	</div>

	
	<div class="bottom-section">

			<% if @current_collection %> <!-- This is for the new collection/link , not in sub collection -->

				<% if current_page?(:controller => "collections", :action => "browse") %> <!-- To Stop showing on New/edit pages for sub link etc -->

					<div class="topbar-links">

						<%= nav_link_to new_sub_link_path(@current_collection)  do %>
			                      		<p>add link</p>
			                 		<% end %>

				                 	<%= nav_link_to new_sub_collection_path(@current_collection)  do %>
				                      	<p>add collection</p>
				                 	<% end %>

			                 	</div>

					<div class="section-header">

						<%= best_in_place @current_collection, :title, :as => :input , :class => "best_in_place_title" %>

						<i class="fa fa-caret-down collection-extras">


							<div class="collection-extras-popup hidden">

								<ul>

									<%= link_to "#", :collection_id => @current_collection.id, :collection_title => @current_collection.title , class: "share-collection" do %>
										
										<li>
											<i class="fa fa-share"></i>

											<p>Share Collection</p>
										</li>

									<% end %>

									<% if current_user.id == @current_collection.user_id %>
									
										<%= link_to @current_collection, method: :delete, data: { confirm: 'Are you sure?' }  do %>

											<li>

												<i class="fa fa-times"></i>

												<p>Remove Collection</p>

											</li>

										<% end %>

									<% else %>	

										<%= link_to unfollow_collection_path(@current_collection), method: :delete, data: { confirm: 'Are you sure?' } do %>
											
											<li>
												<i class="fa fa-share"></i>

												<p>Unfollow Collection</p>
											</li>

										<% end %>

									<% end %>

								</ul>

							</div>

						</i>
					</div>	

					<div class="shared-icons">

						<!-- shared with users -->
						<% @shared_collections_current_filtered.each do |shared_with| %>
							<div class="shared-user">
								<%= gravatar_image_tag(shared_with.shared_user.email.gsub('spam', 'mdeering'), :alt => shared_with.shared_user.first_name) %>
								<p><%= initials(shared_with.shared_user) %></p>
							</div>
						<% end %>

						<!-- creator -->
						<div class="shared-user creator-user">
							<%= gravatar_image_tag(@current_collection.user.email.gsub('spam', 'mdeering'), :alt => @current_collection.user.first_name) %> 
							<p><%= initials(@current_collection.user) %></p>
						</div>

					</div>

				<% else %>

					<div class="section-header">

						<span><%= @bottom_bar_header %></span>

					<div class="section-header">

				<% end %>
				
			<% elsif current_page?('/') || current_page?('/collections') || current_page?('/links') %>

				<div class="topbar-links">

					<%= nav_link_to new_link_path  do %>
		                      		<p>add link</p>
		                 		<% end %>

			                 	<%= nav_link_to new_collection_path  do %>
			                      	<p>add collection</p>
			                 	<% end %>

		                 	</div>

				<div class="section-header">

					<span><%= @bottom_bar_header %></span>

				</div>

			<% else %>

				<div class="section-header">

					<span><%= @bottom_bar_header %></span>

				</div>

			<% end %>

		</div>
	
	</div>

</header>

