<header class="top-bar right">

	<div class="top-section">

		<div class="search-wrapper">

				<i class="fa fa-search search-icon"></i>

				<form action="<%= root_path %>" method="get" class="search-form" >

					<%= text_field_tag :q, params[:s], placeholder: "Search", class: "search-input"%>
					<%= submit_tag "Search", :style => "display: none;", :name  => nil %>

				</form>

		</div>
	
		<div class="login-section right">


		           <div class="current-user" >

		           	<div class="user-initials">
		           		<!-- Need to make Users Controller -->
		           	</div>

		           	<%= gravatar_image_tag(current_user.email.gsub('spam', 'mdeering'), :alt => current_user.first_name) %>
		           </div>

		           <div class="user-popup">

		                     	<%= link_to 'logout', destroy_user_session_path, method: :delete %>

		            </div>	

		</div>
	
	</div>

	
	<div class="bottom-section">

		<%= render '/collections/breadcrumbs' , collection: @current_collection %>
	
		<div class="section-header">


			<% if @current_collection %>

				<%= best_in_place @current_collection, :title, :as => :input , :class => "best_in_place_title" %>

				<i class="fa fa-caret-down collection-extras">


					<div class="collection-extras-popup hidden">

						<ul>

							<%= link_to "#", :collection_id => @current_collection.id, :collection_title => @current_collection.title , class: "share-collection" do %>
								
								<li>
									<i class="fa fa-share"></i>

									<p>Share Collection</p>
								</li>

							<% end %>
							
							<%= link_to @current_collection, method: :delete, data: { confirm: 'Are you sure?' }  do %>

								<li>

									<i class="fa fa-times"></i>

									<p>Remove Collection</p>

								</li>

							<% end %>	

						</ul>

					</div>

				</i>


				<div class="shared-icon">
					
					<!-- creator -->
					<%= gravatar_image_tag(@current_collection.user.email.gsub('spam', 'mdeering'), :alt => current_user.first_name) %> 

					<!-- shared with ancestor users -->
					<!-- check if current_collection has ancestors -->
					<% if @current_collection.parent_id !=nil %>
						
						<!-- if collection does have ancestors, show users who are shared with ancestors -->
						<% @ancestor_shared_collections_filtered.each do |shared_with| %>

							<%= gravatar_image_tag(shared_with.shared_user.email.gsub('spam', 'mdeering'), :alt => current_user.first_name) %>

						<% end %>

					<% else %>

					<!-- display nothing -->

					<% end %>

					<!-- shared with users -->
					<% @shared_collections_current_filtered.each do |shared_with| %>

						<%= gravatar_image_tag(shared_with.shared_user.email.gsub('spam', 'mdeering'), :alt => current_user.first_name) %>

					<% end %>
					

					

				</div>


				<% else %>

				<span><%= @bottom_bar_header %></span>

			<% end %>

		</div>
	
	</div>

</header>

