<header class="top-bar right">

	<div class="top-section">

		<div class="search-wrapper">

				<i class="fa fa-search search-icon"></i>

				<form action="<%= root_path %>" method="get" class="search-form" >

					<%= text_field_tag :q, params[:s], placeholder: "Search", class: "search-input"%>
					<%= submit_tag "Search", :style => "display: none;", :name  => nil %>

				</form>

		</div>
	
		<div class="login-section right">


		           <div class="current-user" >

		           	<div class="user-initials">
		           		<!-- Need to make Users Controller -->
		           	</div>

		           	<%= gravatar_image_tag(current_user.email.gsub('spam', 'mdeering'), :alt => current_user.first_name) %>
		           </div>

		           <div class="user-popup">

		                     	<%= link_to 'logout', destroy_user_session_path, method: :delete %>

		            </div>	

		</div>
	
	</div>

	
	<div class="bottom-section">
	
		<div class="section-header">


				<% if @current_collection %>

						<h3><%= best_in_place @current_collection, :title, :as => :input , :class => "best_in_place_title" %>

							<i class="fa fa-caret-down collection-extras">


								<div class="collection-extras-popup hidden">

									<ul>

										<li><%= link_to "Share Collection" ,"#", :collection_id => @current_collection.id, :collection_title => @current_collection.title , class: "share-collection"%></li>
										<% puts @current_collection.title %>
										<li><%= link_to "Remove Collection", @current_collection, method: :delete, data: { confirm: 'Are you sure?' }  %></li>

									</ul>

								</div>

							</i>

						</h3>

				<% else %>

					<h3><%= @bottom_bar_header %></h3>

				<% end %>

		</div>
	
	</div>

</header>

