<%= render 'layouts/header' %>

<body class="l-landing">

	<header class="top-bar">

		<%= link_to 'lynkr', root_url, class: 'logo' %>

		<nav class="main-nav">

			<ul>
				<% unless user_signed_in? %>
					<li><%= link_to "login", login_path, class: "login-button" %></li>
					<li><%= link_to "register", register_path, class: "register-button" %></li>
				<% end %>
			</ul>

		</nav>

	</header>

	<%= yield %>

	<div class="signup-banner">

		<div class="content-wrapper">

			<p>Start sharing your links today</p>

			<%= link_to "sign up now", register_path, class: "" %>

		</div>

	</div>

	<footer class="landing-footer">

		<ul class="footer-element">
			<li><%= link_to "About", about_url %></li>
			<li><a href="http://www.facebook.com/lynkr" target="_blank">Facebook</a></li>
			<li><a href="http://www.twitter.com/lynkr" target="_blank">Twitter</a></li>
		</ul>

	</footer>

</body>
</html>